@using WhatWasThatBlog.Services.Interfaces
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IPagedList<BlogPost>

@inject IImageService ImageService

@{
    ViewData["Title"] = "What Was That?";
}


<!-- Main Content-->


<div class="col-md-12">


    @foreach (var blogPost in Model)
    {
        <div class="row">
            @if (string.IsNullOrEmpty(blogPost.ImageType))
            {
                <div class="col-4 m-2">
                    <img class="img-fluid" src="~/images/jen-hawaii weird flower.jpg">
                </div>
            }
            else
            {
                <div class="col-4">
                    <img class="img-fluid" src="@ImageService.ConvertByteArrayToFile(blogPost.ImageData, blogPost.ImageType)">
                </div>
            }
            <!-- Post preview-->
            <div class="col-8 post-preview">
                <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">
                    <h2 class="post-title">@blogPost.Title</h2>
                    <h3 class="post-subtitle">@blogPost.Abstract</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="https://triciachitwoodcoding.netlify.app/">Tricia Chitwood</a>
                    on @blogPost.Created.ToString("MMM dd, yyyy")
                </p>
            </div>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    }


    <!-- Pager-->
    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>

    <div>
        <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    </div>
    <div>
        <div>
            @Html.PagedListPager(Model, pageNum => Url.Action("Index", new {pageNum }),
            new PagedListRenderOptions {
            LiElementClasses = new string[]{"page-item"},
            PageClasses = new string[]{"page-link"}
            })
        </div>
    </div>
</div>

